nav[class="home-page-navigation-bar-component"] {
    min-height: 10vh;
    width: min(100%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    flex-direction: column;
}
nav[class="home-page-navigation-bar-component"] > div {
    min-height: 10vh;
    width: min(90%, 90%);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* border: 1px solid red; */
    flex-direction: column;
}
nav[class="home-page-navigation-bar-component"] > div :where(a) {
    text-decoration: none;
    font-size: 1.3em;
    font-weight: calc(290 + 250);
    color: #101010;
}
section[class="landing-home-page-element-component"] {
    min-height: 75vh;
    width: min(100%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid red; */
}
section[class="landing-home-page-element-component"] > div[class="landing-home-page-element-component-content-wrapper"] {
    min-height: 75vh;
    width: min(90%, 90%);
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #eee;
}
section[class="landing-home-page-element-component"] > div[class="landing-home-page-element-component-content-wrapper"] :where(header) {
    min-height: 75vh;
    width: min(100%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-flow: row wrap;
    /* border: 1px solid red; */
    gap: 1em;
}
section[class="landing-home-page-element-component"] > div[class="landing-home-page-element-component-content-wrapper"] :where(header) > div {
    min-height: 75vh;
    width: min(90%, 35em);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgb(0, 255, 34);
    gap: 1.6em;
    flex-grow: 1;
}
section[class="landing-home-page-element-component"] > div[class="landing-home-page-element-component-content-wrapper"] :where(header) > div[id="content"] {
    align-items: flex-start;
}
section[class="landing-home-page-element-component"] > div[class="landing-home-page-element-component-content-wrapper"] :where(header) > div > img {
    height: 25em;
    width: 30em;
}
section[class="landing-home-page-element-component"] > div[class="landing-home-page-element-component-content-wrapper"] :where(header) > div[id="content"] :is(span) {
    font-size: 1.5em;
    color: hsl(0, 0%, 25%);
    font-weight: bold;
    line-height: 0em;
    max-width: 30em;
}
section[class="landing-home-page-element-component"] > div[class="landing-home-page-element-component-content-wrapper"] :where(header) > div[id="content"] :is(h1) {
    font-size: 2.7em;
    color: hsl(0, 0%, 15%);
    font-weight: bold;
    line-height: 1.3em;
    max-width: 30em;
}
section[class="landing-home-page-element-component"] > div[class="landing-home-page-element-component-content-wrapper"] :where(header) > div[id="content"] :is(p) {
    font-size: .9em;
    color: hsl(0, 0%, 15%);
    font-weight: normal;
    line-height: 1.3em;
    max-width: 36em;
}
section[class="landing-home-page-element-component"] > div[class="landing-home-page-element-component-content-wrapper"] :where(header) > div[id="content"] > a {
    min-height: 2em;
    width: min(100%, 15em);
    /* border: 1px solid red; */
}
section[class="landing-home-page-element-component"] > div[class="landing-home-page-element-component-content-wrapper"] :where(header) > div[id="content"] > a button {
    height: 3.5em;
    width: min(100%, 100%);
    cursor: pointer;
    border: none;
    border-radius: .3em;
    color: #fff;
    font-weight: calc(290 + 250);
    background-color: var(--primary-theme-color);
}
section[class="landing-home-page-element-component"] > div[class="landing-home-page-element-component-content-wrapper"] :where(article[class="landing-home-page-content-component"]) {
    height: 30em;
    width: min(100%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid red;
}

