nav[class="home-page-navigation-bar-component"] {
    min-height: 10vh;
    width: min(100%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    flex-direction: column;
    background-color: var(--primary-theme-color) !important;
}
nav[class="home-page-navigation-bar-component"] > div {
    min-height: 10vh;
    width: min(90%, 90%);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* border: 1px solid red; */
    flex-direction: column;
}
nav[class="home-page-navigation-bar-component"] > div :where(a) {
    text-decoration: none;
    font-size: 1.3em;
    font-weight: calc(290 + 250);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .1em;
}
section[class="landing-home-page-element-component"] {
    min-height: 75vh;
    width: min(100%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid red; */
}
section[class="landing-home-page-element-component"] > div[class="landing-home-page-element-component-content-wrapper"] {
    min-height: 60vh;
    /* border: 1px solid red; */
    width: min(90%, 90%);
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
}
section[class="landing-home-page-element-component"] :where(header) {
    min-height: 60vh;
    width: min(100%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-flow: row wrap;
    gap: 1em;
    background-color: var(--primary-theme-color);
}
section[class="landing-home-page-element-component"] :where(header) > div {
    min-height: 60vh;
    width: min(90%, 90%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid rgb(0, 255, 34); */
    gap: 1.6em;
    text-align: center;
    color: hsl(0, 0%, 100%)
}
section[class="landing-home-page-element-component"] :where(header) > div > img {
    height: 25em;
    width: 30em;
}
section[class="landing-home-page-element-component"] :where(header) > div[id="content"] :is(span) {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 0em;
    max-width: 30em;
}
section[class="landing-home-page-element-component"] :where(header) > div[id="content"] :is(h1) {
    font-size: 2.8em;
    line-height: 1.3em;
    max-width: 30em;
}
section[class="landing-home-page-element-component"] :where(header) > div[id="content"] :is(p) {
    font-size: 1.3em;
    font-weight: calc(290 + 290);
    line-height: 1.3em;
    max-width: 50em;
}
section[class="landing-home-page-element-component"] :where(header) > div[id="content"] > a {
    min-height: 2em;
    width: min(100%, 15em);
    /* border: 1px solid red; */
}
section[class="landing-home-page-element-component"] :where(header) > div[id="content"] > a button {
    height: 3.5em;
    width: min(100%, 100%);
    cursor: pointer;
    border: none;
    border-radius: 10em;
    color: var(--primary-theme-color);
    background-color: #fff;
    font-weight: bolder;
}
section[class="landing-home-page-element-component"] > div[class="landing-home-page-element-component-content-wrapper"] :where(article[class="landing-home-page-content-component"]) {
    height: 40em;
    width: min(100%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    /* border: 1px solid red; */
    border-radius: .5em;
}
section[class="landing-home-page-element-component"] > div[class="landing-home-page-element-component-content-wrapper"] :where(article[class="landing-home-page-content-component"]) > h2 {
    font-size: 2.5em;
    font-weight: bold;
    color: hsl(0, 0%, 5%);
}

section[class="landing-home-page-element-component"] > div[class="landing-home-page-element-component-content-wrapper"] :where(article[class="landing-home-page-content-component"]) > div {
    min-height: 20em;
    width: min(90%, 90%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-flow: row wrap;
    gap: 1em;
    /* border: 1px solid rgb(0, 255, 85); */
}
section[class="landing-home-page-element-component"] > div[class="landing-home-page-element-component-content-wrapper"] :where(article[class="landing-home-page-content-component"]) > div :where(div) {
    min-height: 18em;
    width: min(100%, 20em);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    border: 1px solid #eee;
    text-align: center;
    -webkit-box-shadow: 2px 1.5px 7px -0.5px rgba(0, 0, 0, .1);
    -moz-box-shadow: 2px 1.5px 7px -0.5px rgba(0, 0, 0, .1);
    box-shadow: 2px 1.5px 7px -0.5px rgba(0, 0, 0, .1);
    border-radius: .5em;
    flex-grow: 1;
}
section[class="landing-home-page-element-component"] > div[class="landing-home-page-element-component-content-wrapper"] :where(article[class="landing-home-page-content-component"]) > div :where(div) > article {
    min-height: 17em;
    width: min(90%, 90%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
}
section[class="landing-home-page-element-component"] > div[class="landing-home-page-element-component-content-wrapper"] :where(article[class="landing-home-page-content-component"]) > div :where(div) > article > span {
    height: 3em;
    width: 3em;
    border-radius: 100%;
    background-color: var(--primary-theme-color);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.2em;
    font-weight: bolder;
}
section[class="landing-home-page-element-component"] > div[class="landing-home-page-element-component-content-wrapper"] :where(article[class="landing-home-page-content-component"]) > div :where(div) > article > h3 {
    font-size: 1.2em;
    font-weight: calc(290 + 290);
    color: hsl(0, 0%, 5%);
}
section[class="landing-home-page-element-component"] > div[class="landing-home-page-element-component-content-wrapper"] :where(article[class="landing-home-page-content-component"]) > div :where(div) > article > p {
    font-size: .9em;
    font-weight: normal;
    color: hsl(0, 0%, 5%);
}
section[class="landing-home-page-element-component"] > div[class="landing-home-page-element-component-content-wrapper"] :where(article[class="landing-home-page-content-component"]) :is(aside) {
    min-height: 17em;
    width: min(100%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    background-color: var(--primary-theme-color);
    color: #fff;
    border-radius: .5em;
    text-align: center;
}
section[class="landing-home-page-element-component"] > div[class="landing-home-page-element-component-content-wrapper"] :where(article[class="landing-home-page-content-component"]) :is(aside) > h2 {
    font-size: 2.5em;
    font-weight: bold;
    color: hsl(0, 0%, 100%);
}
section[class="landing-home-page-element-component"] > div[class="landing-home-page-element-component-content-wrapper"] :where(article[class="landing-home-page-content-component"]) :is(aside) > a {
    min-height: 2em;
    width: min(100%, 15em);
}
section[class="landing-home-page-element-component"] > div[class="landing-home-page-element-component-content-wrapper"] :where(article[class="landing-home-page-content-component"]) :is(aside) > a button {
    height: 3.5em;
    width: min(100%, 100%);
    cursor: pointer;
    border: none;
    border-radius: 10em;
    color: var(--primary-theme-color);
    background-color: #fff;
    font-weight: bolder;
}