* {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    box-sizing: border-box;
    transition: all 200ms;
}

*::before {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    box-sizing: border-box;
    transition: all 200ms;
}

*::after {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    box-sizing: border-box;
    transition: all 200ms;
}

:root {
    /* font colors */
    --primary-font-color: #000;
    --secondary-font-color: #000;

    /* theme colors */
    --primary-theme-color: #7ebb23;
    --secondary-theme-color: hsl(0, 0%, 10%);

    /* body theme color */
    --body-theme-color: hsl(0, 0%, 96%);
 
    /* font family */
    --primary-font-family: "Montserrat", sans-serif;
    --secondary-font-family: "IBM Plex Mono", monospace;
}

body {
    min-height: 100vh;
    width: min(100%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--body-theme-color);
    font-family: var(--secondary-font-family);
}


#root {
    min-height: 100vh;
    width: min(100%, 100%);
    display: flex;
    align-items: center;
    flex-direction: column;
}

main {
    min-height: 100vh;
    width: min(100%, 100%);
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1 0 auto;
}

::-webkit-scrollbar {
    display: none;
}